body {
    font-family: 'Open Sans', sans-serif;
    background: #026952;
}

.top {
    background: #025f49;
    height: 35px;
}

.top img {
    height: 35px;
}

.top .logo {
    text-align: center;
    margin:0;
    padding:0;
}

.top .data {
    text-align: right;
    color: #E0E0E0;
    padding: 5px 0;
    margin:0;
    text-transform: capitalize;
}

.lateral .titulo {
    color: #CCC;
    margin: 30px 0 5px 0;
    font-size: 16px;
}

.lateral li a {
    padding: 10px;
    border-bottom: solid 1px #025f49;
    color: #E0E0E0;
    display: block;
}

.lateral li a:hover, .lateral li a:focus, .lateral .ativo a {
    text-decoration: none;
    background: #025f49;
}

.conteudo {
    background: #FFFFFF;
    min-height: 600px;
}

.resumo {
    display: block;
    text-align: right;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 25px ;
    width: 100%;
    height: 100px;
}

.resumo span {
    font-size: 50px;
    top: 50px;
    left: 16px;
    color: rgba(255, 255, 255, 0.25);
    position: absolute;
}

.resumo:hover, .resumo:focus{
    color: #FFFFFF;
    text-decoration: none;
}

.resumo .numero {
    font-size: 40px;
}

.resumo .legenda {
    font-size: 15px;
}

.azul {
    background: #3598dc;
}

.vermelho {
    background-color: #e74c3c;
}

.laranja {
    background-color: #f39c12;
}

.roxo {
    background-color: #9b59b6;
}

.footer {
    background: #025f49;
    color: #FFFFFF;
    height: 30px;
}

.footer p {
    padding: 5px 0;
    margin:0;
    color: #E0E0E0;
    text-align: center;
}

.textolongo {
    font-size:10px;
    min-height: 80px;
    text-align: justify;
    border:0!important;
}

.textolongo::-webkit-resizer {
    display: none;
}

.paginacao {
    text-align: center;
}

.paginacao a {
    color: #FFFFFF;
    text-decoration: none;
}

.graficopanel {
    min-height: 273px;
}

.botao {
    padding: 3px 6px!important;
}

.novaconta {
    float:right;
    margin-top:15px;
}