body {
    font-family: 'Open Sans', sans-serif;
    background: #026952;
}

.login .logotipo {
    text-align: center;
}

.centro {
    margin: 10% auto 0 auto;
    width: 75%;
    max-width: 450px;
}

.login form {
    margin-top: 15%;
}

.login form p {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 5%;
}

.login form p span {
    color: #CCC;
    font-size: 16px;
}

.login form .form-control {
    background: #025f49;
    color: #cccccc;
    border-color: #025f49;
}

.login form .btn {
    background: #E23421;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    border:0;
    text-shadow: none;
    text-transform: uppercase;
}

.login form .btn:hover {
    background: #e74c3c;
}